:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--tertiary-text-color: #ffffff;
	--accent-color: #2196f3;
	--primary-btn-color: #2196f3;
	--secondary-btn-color: #f5f4fa;
	--logo-color: #000000;
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #2f303a;
	--section-bg-color: #f5f4fa;
	--link-color: rgba(255, 255, 255, 0.6);
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);
}

.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
	outline: 2px solid red;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin: 0;
}

ul,
p {
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

/* -------header----------*/
.header {
	padding-top: 24px;
	padding-bottom: 25px;
	border: 1px solid #ececec;
}

.logo-h,
.logo-f {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
}

.header-logo {
	color: var(--logo-color);
}

.header-list .current {
	color: var(--accent-color);
}

.header-link {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus {
	color: var(--accent-color);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contacts-list {
	margin: 0;
}

.contacts-link {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--accent-color);
}

/* -----------hero---------- */
.hero {
	background-color: var(--secondary-bg-color);
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	color: var(--tertiary-text-color);
	max-width: 696px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.hero-btn {
	display: inline-block;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	text-decoration: none;
	color: var(--tertiary-text-color);
	background-color: var(--primary-btn-color);
	border-radius: 4px;
	border: none;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	cursor: pointer;
	padding: 10px 32px;
	min-width: 216px;
}

.hero-btn:hover,
.hero-btn:focus {
	color: var(--tertiary-text-color);
	background-color: #188ce8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
	padding: 94px 0;
}
/* ------------------features------------- */

.features {
	color: var(--secondary-text-color);
}

.features-title {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.feature-title {
	font-size: 14px;
	text-transform: uppercase;
	color: var(--primary-text-color);
	margin-bottom: 10px;
}
.features-text {
	font-size: 14px;
	line-height: 1.71;
}

/* ------------abaut us------------ */

.abaut-title,
.teams-title {
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 50px;
}

/* --------------team-------------- */
.team {
	background-color: var(--section-bg-color);
	line-height: 1.19;
}

.team-item {
	background-color: var(--primary-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	width: 270px;
	height: 368px;
}

.team-photo {
	border-radius: 0px;
	margin-bottom: 30px;
}
.team-title {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
}
.team-text {
	color: var(--secondary-text-color);
	text-align: center;
}

/* -----------footer--------- */
.footer {
	background-color: var(--secondary-bg-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.logo-f {
	margin-bottom: 20px;
}

.footer-logo {
	color: var(--tertiary-text-color);
}

.footer-item {
	margin-bottom: 9px;
}

.footer-item:last-child {
	margin-bottom: 0;
}

.footer-location,
.footer-link {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

.footer-location {
	color: var(--tertiary-text-color);
}

.footer-link {
	color: rgba(255, 255, 255, 0.6);
}

.footer-location:hover,
.footer-location:focus,
.footer-link:hover,
.footer-link:focus {
	color: var(--accent-color);
}

/* --------------Portfolio------------- */

.portfolio-title {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/* -----------button----------------- */

.portfolio-btn {
	display: inline-block;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;
	text-decoration: none;
	text-align: center;
	color: var(--primary-text-color);
	background-color: var(--secondary-btn-color);
	border-radius: 4px;
	border: none;
	cursor: pointer;
	height: 38px;
	padding: 6px auto;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	color: var(--tertiary-text-color);
	background-color: var(--primary-btn-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------projects---------------- */

.projects-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.projects-text {
	line-height: 1.88;
	color: var(--secondary-text-color);
}
